@import url(../lib/font-awesome/css/font-awesome.min.css);
@font-face {
  font-family: "RobotoRegular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Black.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Heavy";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Heavy.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Light";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Light.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Medium";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Thin";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "SFUIDisplay-Ultralight";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/SFUI/SFUIDisplay-Ultralight.ttf") format("truetype");
}
